.titulo {
    font-size: 2rem;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 400;
    
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.header {
    background-color: #f1f1f1;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.menuLista {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 1rem;
    margin-top: auto;
}

.menuItem {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #333;
}